@model eCommerceApp.Web.ViewModels.ProductEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var photoPath = "~/productImages/" + (Model.ExistingPath ?? "noimage.jpg");
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Colour" class="control-label"></label>
                    <input asp-for="Colour" class="form-control" />
                    <span asp-validation-for="Colour" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Size" class="control-label"></label>
                    <input asp-for="Size" class="form-control" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="control-label">Price $</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Discounted Price $</label>
                    <input asp-for="DiscountedPrice" class="form-control" />
                    <span asp-validation-for="DiscountedPrice" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" type="text" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailInformation" class="control-label"></label>
                <input asp-for="DetailInformation" class="form-control" />
                <span asp-validation-for="DetailInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div>
                    <div class="custom-file">
                        <input multiple asp-for="Photo" class="form-control custom-file-label" accept="image/*" />
                        <label style="width: 300px;">Click here to change photo</label>
                    </div>
                </div>
                <img src="@photoPath" style="width:auto; height: 250px;" asp-append-version="true" />
            </div>
            <div class="form-row col-md-8">
                <div class="form-group form-check col-md-4">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="InStock" /> @Html.DisplayNameFor(model => model.InStock)
                    </label>
                </div>
                <div class="form-group form-check col-md-4">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    @await Component.InvokeAsync("Brand")
                </div>
                <div class="form-group col-md-4">
                    @await Component.InvokeAsync("Category")
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
        });

    </script>
}

