@model SelectListItemViewModel


        <select class="form-control" asp-items="Model.SelectListCategory" name="CategoryId" asp-for="Category.Id">
            <option value="">Category name...</option>
        </select>
        <span asp-validation-for="Category.Id" class="text-danger"></span>

